<!DOCTYPE HTML>
<html>
    <head>
        <!-- change for actual deployment -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}" />
        <script type="text/javascript">
            // from log prettifier
            var types = {
                'Border Village':'action',
                'Farming Village':'action',
                'Mining Village':'action',
                'Native Village':'action',
                'Walled Village':'action',
                'Worker\'s Village':'action',
                'Ruined Village':'action-ruins',
                'Fishing Village':'action-duration',
                'Village':'action',
                'Ruined Library':'action-ruins',
                'Library':'action',
                'Abandoned Mine':'action-ruins',
                'Mine':'action',
                'Bag of Gold':'action',
                'Fool\'s Gold':'treasure-reaction',
                'Gold':'treasure',
                'Overgrown Estate':'shelter-victory',
                'Estate':'victory',
                'Counting House':'action',
                'Count':'action',
                'Coppersmith':'action',
                'Copper':'treasure',
                'Ruined Market':'action-ruins',
                'Grand Market':'action',
                'Black Market':'action',
                'Market Square':'action-reaction',
                'Market':'action',
                'Adventurer':'action',
                'Alchemist':'action',
                'Altar':'action',
                'Ambassador':'action',
                'Apothecary':'action',
                'Apprentice':'action',
                'Armory':'action',
                'Band of Misfits':'action',
                'Bandit Camp':'action',
                'Baron':'action',
                'Bazaar':'action',
                'Bishop':'action',
                'Bridge':'action',
                'Bureaucrat':'action',
                'Cartographer':'action',
                'Catacombs':'action',
                'Cellar':'action',
                'Chancellor':'action',
                'Chapel':'action',
                'City':'action',
                'Conspirator':'action',
                'Council Room':'action',
                'Courtyard':'action',
                'Crossroads':'action',
                'Cultist':'action',
                'Cutpurse':'action',
                'Dame Anna':'action',
                'Dame Molly':'action',
                'Dame Natalie':'action',
                'Dame Sylvia':'action',
                'Death Cart':'action',
                'Develop':'action',
                'Duchess':'action',
                'Embargo':'action',
                'Embassy':'action',
                'Envoy':'action',
                'Expand':'action',
                'Explorer':'action',
                'Familiar':'action',
                'Feast':'action',
                'Festival':'action',
                'Followers':'action',
                'Forager':'action',
                'Forge':'action',
                'Fortress':'action',
                'Fortune Teller':'action',
                'Ghost Ship':'action',
                'Golem':'action',
                'Goons':'action',
                'Governor':'action',
                'Graverobber':'action',
                'Haggler':'action',
                'Hamlet':'action',
                'Harvest':'action',
                'Herbalist':'action',
                'Hermit':'action',
                'Highway':'action',
                'Hunting Grounds':'action',
                'Hunting Party':'action',
                'Inn':'action',
                'Ironmonger':'action',
                'Ironworks':'action',
                'JackOfAllTrades':'action',
                'Jester':'action',
                'Junk Dealer':'action',
                'King\'s Court':'action',
                'Knights':'action',
                'Laboratory':'action',
                'Lookout':'action',
                'Madman':'action',
                'Mandarin':'action',
                'Marauder':'action',
                'Margrave':'action',
                'Masquerade':'action',
                'Menagerie':'action',
                'Mercenary':'action',
                'Militia':'action',
                'Minion':'action',
                'Mint':'action',
                'Moneylender':'action',
                'Monument':'action',
                'Mountebank':'action',
                'Mystic':'action',
                'Navigator':'action',
                'Noble Brigand':'action',
                'Nomad Camp':'action',
                'Oasis':'action',
                'Oracle':'action',
                'Pawn':'action',
                'Pearl Diver':'action',
                'Peddler':'action',
                'Pillage':'action',
                'Pirate Ship':'action',
                'Poor House':'action',
                'Possession':'action',
                'Prince':'action',
                'Princess':'action',
                'Procession':'action',
                'Rabble':'action',
                'Rats':'action',
                'Rebuild':'action',
                'Remake':'action',
                'Remodel':'action',
                'Rogue':'action',
                'Saboteur':'action',
                'Sage':'action',
                'Salvager':'action',
                'Scavenger':'action',
                'Scheme':'action',
                'Scout':'action',
                'Scrying Pool':'action',
                'Sea Hag':'action',
                'Shanty Town':'action',
                'Sir Bailey':'action',
                'Sir Destry':'action',
                'Sir Martin':'action',
                'Sir Michael':'action',
                'Sir Vander':'action',
                'Smithy':'action',
                'Smugglers':'action',
                'Spice Merchant':'action',
                'Spy':'action',
                'Squire':'action',
                'Stables':'action',
                'Steward':'action',
                'Storeroom':'action',
                'Swindler':'action',
                'Thief':'action',
                'Throne Room':'action',
                'Torturer':'action',
                'Tournament':'action',
                'Trade Route':'action',
                'Trading Post':'action',
                'Transmute':'action',
                'Treasure Map':'action',
                'Treasury':'action',
                'Tribute':'action',
                'Trusty Steed':'action',
                'University':'action',
                'Upgrade':'action',
                'Urchin':'action',
                'Vagrant':'action',
                'Vault':'action',
                'Wandering Minstrel':'action',
                'Warehouse':'action',
                'Wishing Well':'action',
                'Witch':'action',
                'Young Witch':'action',
                'Woodcutter':'action',
                'Workshop':'action',
                'Beggar':'action-reaction',
                'Watchtower':'action-reaction',
                'Horse Traders':'action-reaction',
                'Moat':'action-reaction',
                'Secret Chamber':'action-reaction',
                'Trader':'action-reaction',
                'Bank':'treasure',
                'Cache':'treasure',
                'Contraband':'treasure',
                'Counterfeit':'treasure',
                'Diadem':'treasure',
                'Hoard':'treasure',
                'Horn of Plenty':'treasure',
                'Ill-Gotten Gains':'treasure',
                'Loan':'treasure',
                'Philosopher\'s Stone':'treasure',
                'Platinum':'treasure',
                'Potion':'treasure',
                'Quarry':'treasure',
                'Royal Seal':'treasure',
                'Silver':'treasure',
                'Spoils':'treasure',
                'Stash':'treasure',
                'Talisman':'treasure',
                'Venture':'treasure',
                'Colony':'victory',
                'Duchy':'victory',
                'Duke':'victory',
                'Fairgrounds':'victory',
                'Farmland':'victory',
                'Feodum':'victory',
                'Gardens':'victory',
                'Province':'victory',
                'Silk Road':'victory',
                'Vineyard':'victory',
                'Caravan':'action-duration',
                'Haven':'action-duration',
                'Lighthouse':'action-duration',
                'Merchant Ship':'action-duration',
                'Outpost':'action-duration',
                'Tactician':'action-duration',
                'Wharf':'action-duration',
                'Survivors':'action-ruins',
                'Dame Josephine':'action-victory',
                'Great Hall':'action-victory',
                'Nobles':'action-victory',
                'Island':'action-victory',
                'Harem':'treasure-victory',
                'Hovel':'shelter-reaction',
                'Necropolis':'action-shelter',
                'Tunnel':'victory-reaction',
                'victory point chips':'vp-chip',
                'Curse':'curse',
                'Candlestick Maker':'action',
                'Stonemason':'action',
                'Doctor':'action',
                'Masterpiece':'treasure',
                'Advisor':'action',
                'Herald':'action',
                'Plaza':'action',
                'Taxman':'action-attack',
                'Baker':'action',
                'Butcher':'action',
                'Journeyman':'action',
                'Merchant Guild':'action',
                'Soothsayer':'action-attack',
            };

            // TODO
            var costs = {

            };

            // these lists need to be in order of cost!
            var kingdomVictory = ['Estate', 'Duchy', 'Province', 'Colony'];
            var kingdomTreasure = ['Copper', 'Silver', 'Potion', 'Gold', 'Platinum'];
            var kingdomJunk = ['Curse', 'Ruins'];

            var selected;

            function createLogLine(text, index) {
                var p = document.createElement("p");
                p.className = "line";
                p.id = String(index);
                p.innerHTML = text;
                p.onclick = function(e) {
                    document.getElementById(e.target.id).className = "selected";
                    var index = parseInt(e.target.id, 10);
                    document.getElementById(String(selected)).className = "line";
                    selected = index;
                    createDisplayElements(states[index]);
                }
                return p;
            }

            function createCard(cardname) {
                var sp = document.createElement("span");
                if (types.hasOwnProperty(cardname)) {
                    sp.className = types[cardname];
                }
                sp.innerHTML = cardname;
                return sp;
            }

            function createNumber(num) {
                var sp = document.createElement("span");
                sp.innerHTML = String(num);
                return sp;
            }

            var supply;

            function createDisplayElements(state) {
                // there are more log lines than game states
                // too lazy to sync the two up properly
                if (state === undefined) {
                    return;
                }
                var node = document.getElementById("gamedisplay");
                while (node.firstChild) {
                    node.removeChild(node.firstChild);
                }
                var cardsInPlay = null;
                var pnames = [];
                for (var key in state['hands']) {
                    if (state['hands'].hasOwnProperty(key)) {
                        pnames.push(key);
                    }
                }
                for (var i = 0; i < pnames.length; i++) {
                    var name = document.createElement("p");
                    name.className = "pname";
                    name.innerHTML = pnames[i];
                    node.appendChild(name);
                    var hand = state['hands'][pnames[i]];
                    for (var j = 0; j < hand.length; j++) {
                        var card = createCard(hand[j]);
                        node.appendChild(card);
                    }
                    var name2 = document.createElement("p");
                    name2.innerHTML = pnames[i] + " deck";
                    node.appendChild(name2);
                    var deck = state['decks'][pnames[i]];
                    for (var card in deck) {
                        if (deck.hasOwnProperty(card)) {
                            node.appendChild(createNumber(deck[card]));
                            node.appendChild(createCard(card));
                        }
                    }
                }
                var play = document.createElement("p");
                play.innerHTML = "Play";
                node.appendChild(play);
                for (var j = 0; j < state['play'].length; j++) {
                    node.appendChild(createCard(state['play'][j]));
                }
                var sup = document.createElement("p");
                sup.innerHTML = "Supply";
                var supply = state['supply'];
                node.appendChild(sup);
                for (var card in supply) {
                    if (supply.hasOwnProperty(card)) {
                        node.appendChild(createNumber(supply[card]));
                        node.appendChild(createCard(card));
                    }
                }
            }

            var states = null;

            window.onload = function() {
                var log = {{ log|tojson }};
                states = {{ states|tojson }};
                selected = 0;
                for (var i = 0; i < log.length; i++) {
                    var line = log[i];
                    document.getElementById("log").appendChild(createLogLine(line, i));
                }
                createDisplayElements(states[0]);
                document.getElementById("0").className = "selected";
            }
        </script>
    </head>
    <body>
        <div id="gamedisplay" style="width:70%">
            <table id="supply">
            </table>
        </div>
        <div id="log" style="overflow:scroll;position:fixed;width:30%;left:70%;top:0px;bottom:0px;">
        </div>
    </body>
</html>
